* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    overflow-x: scroll;
    scroll-behavior: smooth;

}


body {
    background-color: #323232;
    height: 100vh;
    width: 100vw;
}


.navbarForweb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #61876e;
    height: 10vh;
    z-index: 1;
    position: sticky;
    top: 0;
}


.navbarForweb .logo a {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.navbarForweb .navbarForwebList {
    display: flex;
    gap: 2rem;
}

.navbarForweb .navbarForwebList a {
    color: white;
    font-size: 1.2rem;
}

.navbarForweb {
    display: none;
}

.aboutMePage {
    width: 100%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 6vh;
}

.navbar a i {
    color: #ffff;
    font-size: 1.5rem;
}

.navbar a i:hover {
    color: wheat;
}

.navbar a span {
    display: none;
}



/* ABOUT ME PAGE */
.aboutMe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
}

.aboutMe a,
i,
a {
    color: white;
}

.aboutMe .image {
    width: 100%;
    text-align: center;
}

.aboutMe img {
    width: 100%;
    border-radius: .5rem;
}

.aboutMe .photoInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.aboutMe .information {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.iconAddressContainer {
    width: 100%;
}



.aboutMe .information .icon {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.aboutMe .information .iconAddress {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.name {
    border-bottom: 1px double black;
}

.skills {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
    width: 100%;
}

.skills h1 {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.skills label {
    padding: 1rem;
}

.skills input {
    width: 100%;
}

.name {
    width: 100%;
    /* font-weight: bold; */
    text-align: justify;
    padding: .5rem 0 0 1rem;
}


.name .text {
    position: relative;
    font-size: 1rem;
}

.name .iam {
    color: white;
}

.name .ashokGiri:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    background-color: #323232;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

.info {
    padding: 1rem;
}

.info p {
    color: white;
    text-align: justify;
    line-height: 2rem;
}

.findMe {
    font-size: 2rem;
    text-align: center;
}

.findMe a {
    color: #ffffff;
}

.socialSites {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5vh;
}

.socialSites span {
    display: none;
}

.socialSites i {
    font-size: 1.5rem;
}

.socialSites a .fa-facebook {
    color: #3b5999;
}

.socialSites a .fa-instagram {
    color: #e4405f;
}

.socialSites a .fa-twitter {
    color: #55acee;
}

.socialSites a .fa-github {
    color: #131418;
}



/* Form */
#form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem .5rem;
    font-size: 1.2rem;
    min-height: 20vh;
}

h2 {
    color: #ffffff;
    text-align: center;
}

#form label {
    color: #fff;
}

#form button {
    padding: 0 1rem;
    background-color: #ffac41;

}

/* MEME PAGE */
.meme {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;

}

.meme img {
    height: auto;
    max-width: 100%;
    height: auto;
    border-radius: .5rem;

}

#form #submitButton {
    opacity: 0.5;
}


/* HOME PAGE */

.imageDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 94vh;
    background-color: #222;
    border-top: 5px solid #eee;
}

.hang,
.catch {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hang img {
    width: 30%;
    position: fixed;
    top: 0;
}

.catch img {
    width: 30%;
    z-index: 1;
    position: fixed;
    bottom: 0;
    align-self: center;
}


.imageDiv #catch {
    animation: jump 2s ease-in-out infinite;
}


/* PROJECT PAGE */
.projects {
    margin-bottom: 6vh;
}

.projects h1 {
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

.projectsList #rps {
    display: flex;
    justify-content: center;
    gap: .5rem
}

.projectsList {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1rem;
}

.projectsList a {
    height: 30vh;
    width: 100%;
    background-color: rgb(1, 100, 1);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

@keyframes jump {

    20%,
    40%,
    80%,
    to {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-5rem);
    }

    60% {
        transform: translateY(-0px);
    }

    80% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.imageDiv #hang {
    animation: swing 2s ease-in-out alternate infinite;
    transform-origin: center 0px;
}

@keyframes swing {
    0% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(2deg);
    }

}

.gap {
    height: 25vh;
}

/* @media (min-width: 481px) and (max-width:767px) {}
{

} */

@media (min-width: 767px) and (max-width:1280px) {
    .projectsList {
        grid-template-columns: 1fr 1fr;
    }

    .navbar {
        display: none;
    }

    .navbarForweb {
        display: flex;
    }

    /*  HOEM PAGE */
    #hang,
    #catch {
        width: 20%;
    }

}

@media (min-width:1281px) {

    /* it will hide the icon which is in phone view */
    .navbar {
        display: none;
    }

    .navbarForweb {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #61876e;
        height: 10vh;
        z-index: 1;
        position: sticky;
        top: 0;
    }

    .navbarForweb .logo a {
        font-size: 2rem;
        color: white;
        font-weight: bold;
    }

    .navbarForweb .navbarForwebList {
        display: flex;
        gap: 2rem;
    }

    .navbarForweb .navbarForwebList a {
        color: white;
        font-size: 1.2rem;
    }

    /* ABOUT ME PAGE */
    .socialSites span {
        display: flex;
    }

    .socialSites a {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }


    /* ABOUT ME PAGE */
    .photoInfo .image {
        width: 35%;
    }

    .skills {
        align-self: flex-start;
        width: 50%;
    }

    .info {
        align-self: flex-end;
        width: 50%;
    }

    .findMe,
    .socialSites {
        align-self: flex-start;
        width: 50%;
    }

    #form {
        align-self: flex-end;
        width: 70%;
        flex-direction: row;
    }


    /*  HOEM PAGE */
    #hang,
    #catch {
        width: 10%;
    }

    /* PROJECTS PAGE */
    .projectsList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        gap: 1rem;
    }

    .projectsList a {
        width: 100%;
    }

    .projectsList a img {
        width: 100%;
    }

    .name a {
        font-size: 3rem;
    }

    .name .text {
        font-size: 2rem;
    }




}